@import 'colors';

@define-extend tile {
  background: $white;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(74, 74, 74, 0.15);
  overflow: hidden;

  padding: 2.5rem;
  margin-bottom: 1.5rem;
}

@define-extend properties-wrap {
  display: flex;
  flex: 1;

  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@define-extend sidebar-section {
  padding: 1em 3em;
  transition: background 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
}

@define-extend sidebar-section-selected {
  @extend sidebar-section;
  background: #e6e6e6;
}

@define-extend sidebar-section-item {
  color: #c4c4c4;
  margin: 0.25rem 0;
  padding-left: 0.75rem;
  border-left: 4px solid rgba(0, 0, 0, 0);
  transition: border 0.2s ease-in-out, color 0.2s ease-in-out;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@define-extend sidebar-section-item-selected {
  font-weight: 600;
  color: #8c8c8c !important;
  border-left: 4px solid rgba(0, 0, 0, 0.1);
}

@define-extend sidebar-section-header {
  font-weight: 600;
  color: #404042;
  margin: 0.5rem 0;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}