@import 'type';
@import 'colors';

.LaborFormContainer {
  display: flex;
  div {
    min-width: auto;
  }
  button {
    height: 20px;
  }
}

.LaborColumn {
  width: 65%;
}
.HoursColumn {
  width: 10%;
}
.CostColumn {
  width: 10%;
}
.TotalColumn {
  width: 10%;
  padding-top: 23px;
}
.ButtonColumn {
}
