@import 'colors';
@import 'fonts';

.SidebarGroup {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &.collapsed {
        padding-left: 0;
        height: 64px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.SidebarGroupSelected {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &.collapsed {
        padding-left: 0;
        height: 64px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    i {
        color: $color-primary;
    }
}

a.SidebarGroup, a.SidebarGroup:active, a.SidebarGroup:visited {
    color: inherit;
}

a.SidebarGroupSelected, a.SidebarGroupSelected:active, a.SidebarGroupSelected:visited {
    color: inherit;
}

.SidebarGroupTitle {
    display: flex;
    align-items: center;
    font-family: $font-family-secondary;
    
    i {
        margin-right: 0.5rem;
    }

    &.expanded {

    }

    &.collapsed {
       
    }

    p {
        margin-block-end: 0;
        margin-block-start: 0;
    }

    .SidebarGroup.collapsed & {
        flex-direction: column;
        font-family: $font-family-primary;
        font-size: 0.75rem;

         p {
            padding: 0;
            margin: 0;
            margin-block-end: 0;
            margin-block-start: 0;
            overflow-wrap: break-word;
            max-width: 75px;
        }
    }

    .SidebarGroupSelected.collapsed & {
        flex-direction: column;
        font-family: $font-family-primary;
        font-size: 0.75rem;

        i {
            margin-right: 0; 
            margin-bottom: 5px;
            font-size: 1rem;
        }

         p {
            padding: 0;
            margin: 0;
            margin-block-end: 0;
            margin-block-start: 0;
            overflow-wrap: break-word;
            max-width: 75px;
        }
    }
}

.SidebarGroupItems {
    margin-top: 10px;
    margin-left: 1rem;
}

.SidebarGroup.collapsed {
    position: relative;

    .SidebarGroupTitle {
        flex-direction: column;
        font-family: $font-family-primary;
        font-size: 0.70rem;
    
        i {
            margin-right: 0; 
            margin-bottom: 5px;
            font-size: 1rem;
        }
    }
    
    .SidebarGroupItems {
        display: none;
    }

    &:hover {
        cursor: pointer;

        i {
            color: $color-primary;
        }
    }

    &:hover .SidebarGroupItems {
        margin-top: 0;
        margin-left: 0;
        position: absolute;
        display: initial;
        width: 200px;
        height: auto;
        left: 80px;
        top: 0;
        z-index: 9999;
        border: 1px solid $color-greyscale-light;
        background-color: $color-greyscale-white;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

