@import 'colors';

@define-extend button {
    border-radius: 3px;
    font-size: 1rem;
    transition: all 0.1s ease-in-out;
    display: flex;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

.Button{
    & >  svg {
      height: 15px;
      margin-right: 0.125rem;
    }

    &.iconButton{
         font-size: 1.25rem;
     }

    &.medium{
         padding: 0 1.5rem;
         height: 56px;

         &.iconButton{
            padding: 0 1.25rem;
          }

         &.iconLeft > :global(.icon):first-child{
            margin-right: 1.25rem;
         }

         &.iconRight > :global(.icon):last-child{
            margin-left: 1.25rem;
          }

         &.formControl{
            margin-top: 7px;
          }
     }

    &.small{
        padding: 0 1rem;
        height: 38px;

        &.iconButton{
             padding: 0 1rem;
         }

        &.iconLeft > :global(.icon):first-child{
             margin-right: 0.75rem;
         }

        &.iconRight > :global(.icon):last-child{
             margin-left: 0.75rem;
         }

        &.formControl{
             margin-top: 25px;
         }
     }

    &.tiny{
        padding: 0 1rem;
        height: 32px;

        &.iconButton{
             padding: 0 0.75rem;
         }

        &.iconLeft > :global(.icon):first-child{
             margin-right: 0.5rem;
         }

        &.iconRight > :global(.icon):last-child{
             margin-left: 0.5rem;
         }

        &.formControl{
             margin-top: 31px;
        }
     }

    &.fluid{
         width: 100%;
     }

    &.formControl{
       margin-bottom: 1.25rem;
     }
}


.ButtonPrimary {
    @extend button;

    background: $color-primary;
    color: $color-greyscale-white;
    border: 1px solid $color-primary-dark;

    &:disabled {
         background-color: $color-greyscale-lighter;
         border-color: $color-greyscale-lighter;
    }
}

.ButtonDanger {
    @extend button;

    background: $soft-red;
    color: $color-greyscale-white;
    border: 1px solid $soft-red;

    &:disabled {
         background-color: $color-greyscale-lighter;
         border-color: $color-greyscale-lighter;
     }
}

.ButtonSecondary {
    @extend button;

    background: $color-greyscale-white;
    color: $color-greyscale-dark;
    border: 1px solid $color-greyscale-light;

    &:hover, &:active {
        border-color: $color-greyscale-mid;
     }

    &:disabled {
         opacity: 0.5;
         border-color: $color-greyscale-light;
     }
}

.ButtonDefault {
    @extend button;

    background: $white;
    color: $black-70;
    border: 1px solid $black-20;

    &:disabled {
         opacity: 0.5;
     }
}

.ButtonLight {
    @extend button;

    color: $gray;
    border: none;
    box-shadow: none;
    background: $white;

    &:hover {
         background: $black-08;
         color: $black-20;
     }

    &:disabled {
         opacity: 0.5;
         background: $white;
         color: $gray;
     }
}




