@import 'colors';
@import 'fonts';

.TabNavigation{
    display: flex;

    & > .singleOption{
        font-size: 1rem;
        line-height: 1.43;
        padding: 0.15em 1em;
        position: relative;
        color: $color-greyscale-dark;
        -webkit-touch-callout: none;
        user-select: none;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 0 0 auto;
        text-transform: capitalize;
        text-align: left;

        &:hover{
             cursor: pointer;
         }

         &.active {
            color: $color-greyscale-darker;
            font-family: $font-family-secondary;
         }

        &.active:before{
            content: ' ';
            background-color: $color-primary;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 3px;
         }

        &:not(:last-child) {
            margin-bottom: 10px;
        }
     }


    &.vertical{
         flex-direction: column;
         overflow-y: auto;

        & > .singleOption.active:before{
             height: 100%;
             width: 3px;
        }
     }

    &.horizontal{
         flex-direction: row;
         overflow-x: auto;

         & > .singleOption.active:before{
            height: 3px;
            width: 100%;
         }
     }
}